.login-form-container {
  display: flex;
  align-items: flex-start;
  width: 25rem;
  margin: auto;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid #00000020;
  padding: 1rem;
  Button {
    margin: 0.5em 0;
    width: 10em;
    color: #000;
    background-color: #53a1ce;
  }
}

.form-text-login {
  display: flex;
  flex-flow: column wrap;
  width: 20em;
  margin: 0;
  color: #1d77ab;
}

.crear-cuenta-login,
.olvido-password {
  margin: 0.5em auto;
  text-decoration: none;
  color: black;
}

.crear-cuenta-login,
.olvido-password {
  font-size: small;
  a {
    color: #333;
  }
  a:hover {
    color: #53a1ce;
  }
}

.form-text1 {
  color: black;
}

.complement-login-header-tittle {
  display: flex;
  flex-flow: column wrap;
  width: 18.75em;
  margin: 0;
  color: #000;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.form-text2 {
  color: #53a1ce;
  font-size: 25px;
  padding: 20px;
}

.form-text3 {
  font-size: 30px;
  margin: 10px;
}
