
.nav-main{
    background-color: #2D2D2D;
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    height: 85px;
    align-items: center;
}
nav.logo{
    display:flex;
    flex-flow: nowrap;
}

.nav-links{
    display:flex;
    justify-content: flex-end;

}
.item-navlinks {
    list-style: none;
}

.item-navlinks a{
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;

}

.item-navlinks a:hover{
box-sizing: border-box;   
background-color: red;
border-radius: 3px;

}

.logo-nav{
    border-radius: 200px;
    margin-top: 5px;
}

.nav-links li{
    padding: 10px;

}