.button{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 3px solid #BE1704;
    border-radius: 10px;
    width: 235px;
    height:70px;
    background-color: #ECA500;

}
.icon-button{
    padding: 20px;
}
.button-info{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin: auto;

}

.fa-search-dollar{
    color: black;
}
.fa-map-marker-alt{
    color: black;
}
.fa-paper-plane{
    color: black;
}
.fa-calendar-minus{
    color:black;
}